.home {
  position: absolute;
  top: 60px;
  left: 80px;
  width: 92vw;
}

@media (max-width: 991px) {
  .home {
    position: absolute;
    top: 4.5rem;
    left: 0;
    right: 0;
    margin-left: 2.5vw;
    width: 100%; /* Ensure it takes full width */
    padding: 0 1rem; /* Add some padding to prevent it from touching the edges */
  }
}

@media (max-width: 540px) {
  .home {
    margin-left: 3vw;
  }
}
